<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hello World</h1>
  <a href="/somewhere">This link is broken</a>
  <a href="/other">This link works</a>

  <form action="/process" method="post">
    <input type="text" name="input" placeholder="stuff">
    <input type="text" name="other" placeholder="stuff">
    <input type="submit" value="Submit">
  </form>
</body>
</html>