<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Survey Form</h1>
    <form action="/process" method="post">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" placeholder="Vanilla">
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" placeholder="Ice">
      <label for="dojo_location">Dojo Location:</label>
      <select name="dojo_location">
        <option value="Online">Online</option>
        <option value="Burbank">Burbank</option>
        <option value="Seattle">Seattle</option>
        <option value="Chicago">Chicago</option>
        <option value="San Jose">San Jose</option>
      </select>
      <input type="submit" value="Register">
    </form>
  </div>
</body>
</html>