<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <h1>You are viewing {{ user['username'] }}'s tweets</h1>
    <a href="/" class="button">Go Home</a>
    <div class="tweets">
      {% for tweet in tweets %}
      <div class="tweet">
        <h2>@{{ tweet['username'] }}</h2>
        <h3>Tweeted at: {{ tweet['created_at'] | time_formatter }}</h3>
        <p>{{ tweet['content'] }}</p>
        <p>Number of likes: {{ tweet['num_likes'] }}</p>
        <a href="/add_like/{{ tweet['id'] }}" class="button">Like</a>
        {% if session['user_id'] == tweet['creator_id'] %}
          <form action="/tweets/{{ tweet['id'] }}/delete" method="post">
            <input type="submit" value="Delete">
          </form>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>