<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" type="text/css" 
   href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Here are all the pets.</h1>
    <a href="/new" class="button">Add Pet</a>

    <form action="/click_on_specific_pet_form">
      <h2>Send Message</h2>
      <textarea name="message" id="" cols="30" rows="10"></textarea>
      <select name="recipient_id" id="">
        {% for pet in all_pets %}
          <option value="{{ pet['id'] }}">{{ pet['name'] }}</option>
        {% endfor %}
      </select>
    </form>
    {% for pet in all_pets %}
      <form action="/click_on_specific_pet_form" method="post">
        <h2>{{ pet['name'] }}: {{ pet['type'] }}</h2>
        <input type="hidden" name="recipient_id" value="{{ pet['id'] }}">
        <textarea name="message" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="Click On Pet">
      </form>
    {% endfor %}
  </div>
</body>
</html>